<li id="micropost-<%= micropost.id %>" class="media list-group-item p-a">
  <%= link_to gravatar_for(micropost.user, class: 'media-object img-circle'), micropost.user, class: 'media-left' %>
  <div class="media-body">
    <div class="media-heading">
      <small class="pull-right text-muted"><%= time_ago_in_words(micropost.created_at) %></small>
      <h5><%= link_to micropost.user.name, micropost.user %></h5>
    </div>
    <div class="content">
      <p><%= micropost.content %></p>
      <div class="media-body-inline-grid" data-grid="images">
        <div style="display: none">
          <%= image_tag micropost.picture.url,  :data => {:action => 'zoom', :width => '280', :height => '280'} if micropost.picture?%>
        </div>

      </div>
    </div>
    <span>
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  </div>
</li>