<header>
  <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
      <div class="navbar-header">
        <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "FATCAMP", root_path, id: "logo", class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav hidden-xs">
          <li><%= link_to "Fat Stream", current_user %></li>
          <li><%= link_to "All Fatties", users_path %></li>
          <li><%= link_to "Your Progress", help_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="img-circle" src="assets/img/adrian.jpg">
            </button>
          </li>
        </ul>
        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="home.html">Fat Stream</a></li>
          <li><a href="all-users.html">All Fatties</a></li>
          <li><a href="profile.html">Your Progress</a></li>
          <li><a href="edit-profile.html">Edit Profile</a></li>
          <li><a href="login/index.html">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Log out", logout_path, method: "delete" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>